<html>
    <% include ./head %>
    <body class="container">
        <% include ./header %>
        <div class="container row">
            <div class="jumbotron col-sm-8 pull-center">
                <form action="/changepassword" method="post" data-toggle="validator" role="form">
                    <div class="form-group" > 
                        <label for="inputPassword" class="control-label">New Password:</label>
                        <div class="form-inline row">
                            <div class="form-group col-sm-6">
                                <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="inputPassword" required>
                            </div>
                            <div class="form-group col-sm-6">
                                <input type="password" class="form-control" id="inputPasswordConfirm" data-match="#inputPassword" data-match-error="Whoops, these don't match" placeholder="Confirm" required>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-primary" type="submit" value="Submit"/>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
