<html>
    <% include ./head %>
    <body class="container">
        <% include ./header %>
        <div class="container row">
            <h1>Hi, <%=user.username%> Welcome to your Dashboard</h1>
        </div>
        <% include ./ad-form.ejs %>
        <% include ./search %>
    </body>
</html>

