<div class="page-header">
    <h1>Dummy Website</h1>
</div>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <% include ./options_dashboard %>
    </div><!-- /.container-fluid -->
</nav>
