<html>
    <% include ./head %>
    <body class="container">
        <% include ./header %>
        <div class="container row">
            <% include ./login_form %>
            <% include ./search %>
        </div>
    </body>
</html>
