<html>
    <% include ./head %>
    <body class="container">
        <% include ./header %>
        <div class="container row">
            <%if (result) {%>
                <h2>Success!</h2>
            <% } else { %>
                <h2>There was a problem changing your password!</h2>
            <% } %>
        </div>
    </body>
</html>
