<html>
    <% include ./head %>
    <body class="container">
        <% include ./header %>
        <div class="container row">
            <% include ./results %>
        </div>
        <div class="container row">
            <% include ./search %>
        </div>
    </body>
</html>
