<div class="col-sm-8">
    <form action="/search" method="post">
        <div class="form-group form-group-lg">
            <label for="inputlg">Search:</label>
            <input class="form-control input-lg" type="text" name="query"/>
            <input class="btn btn-primary" type="submit" value="GO!"/>
        </div>
    </form>
</div>
